@import "../utils/variables";
@import "../utils/mixins";

.card {
  display: flex;
  flex-direction: column;
  margin: 50px;
  &_imageContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    & img {
      @include imageProfile;
    }
    & h2 {
      font-size: 2.2rem;
      font-weight: 100;
      color: $colorSpiritWarrior;
    }
    &:hover img {
      box-shadow: $extendShadow;
    }
  }
  &_info {
    text-align: center;
    margin-top: 0.5rem;
    &_title {
      font-weight: 100;
      font-size: 0.9rem;
      margin-top: 0.3rem;
      color: $colorSpiritWarrior;
    }
    &_description {
      font-size: 0.7rem;
      margin-top: 0.3rem;
      white-space: nowrap;
    }
    &_price {
      font-size: 0.7rem;
      margin-top: 0.3rem;
      color: lighten($colorBrilliantLicorice, 30);
    }
  }
}
