@import "../utils/variables";
@import "../utils/mixins";

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 3rem;
  background-color: $colorSecondary;
  height: 60px;
  width: 376px;
  border-radius: 5px 5px 0 0;
  &_likes {
    &_heart {
      height: 21px;
      margin-left: 10px;
      margin-bottom: -3px;
    }
  }
}

#likeContainer_likes_total {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: map-get($breakpoints, tablet)) {
  .likeContainer {
    height: 45px;
    width: 310px;
    right: 0.625rem;
  }
}
