$colorBlack: #000000;
$colorWhite: #ffffff;
$colorDoctor: #fafafa;
$colorShinshu: #901c1c;
$colorSpiritWarrior: #d3573c;
$colorBrilliantLicorice: #525252;

$fontDMSans: "DM Sans", sans-serif;

$shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);

$extendShadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6);

$breakpoints: (mobile: 375px, tablet: 768px, laptop: 1024px, desktop: 1440px);
