$colorShinshu: #901c1c;
$colorSpiritWarrior: #d3573c;
$colorLoveScepter: #db8876;
$colorDoctor: #fafafa;
$colorBrilliantLicorice: #525252;
$colorBlack: #fafafa;
$colorWhite: #ffffff;

$breakpoints: (mobile: 375px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$fontDMSans: "DM Sans", sans-serif;
