$colorPrimary: #901c1c;
$colorSecondary: #d3573c;
$colorGrey: #525252;
$colorLight: #fafafa;
$colorBlack: #000000;
$colorWhite: #ffffff;

$fontDMSans: "DM Sans", sans-serif;

$shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);

$extendShadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6);

$breakpoints: (mobile: 375px, tablet: 768px, laptop: 1024px, desktop: 1440px);
