@import "../utils/variables";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $fontDMSans;
}

body {
  box-sizing: border-box;
  max-width: 1280px;
  color: $colorBlack;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $colorBlack;
}

p {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}
