@import '../utils/variables';

.header {
  margin: 4rem;
  display: flex;
  justify-content: space-between;
  &_logo {
    width: 12rem;
  }
  &_title {
    font-weight: 400;
    font-size: 2.3rem;
    color: $colorPrimary;
  }
}

@media (max-width: map-get($breakpoints, tablet)) {
  .header {
    align-items: center;
    flex-direction: column;
    &_title {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
